/* Variables */
:root {
    /* Colors */
    /* Flexbox */
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan:  hsl(179, 100%, 13%);
    /* Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    /* Grid */
    --red-box: red;
    --orange-box: rgb(160, 106, 5);
    --green-box: green;
    --blue-box: rgb(5, 176, 214);

    /* Fonts */
    /* font-size */
    --font-size: 15px;

    /* Font Family */
    --lexend-deca: 'Lexend Deca', sans-serif;
    --shoulders-display: 'Big Shoulders Display', cursive;
/* 
Transparent white (paragraphs): 
Very light gray (background, headings, buttons):  */
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: var(--lexend-deca);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--shoulders-display);
}

a {
    display: inline-block;
    padding: 1rem;
    margin: 5px;
    text-decoration: none;
    color: #fff;
}
a:hover , .active {
    border-radius: 7px;
    background-color: orchid;
}
/* Navbar */
header {
    background-color: rgb(73, 19, 71);
    color: #fff;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav span {
    font-size: 20px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

/* Grid Design Style */
.grid-container{
    display: grid;
    background-color: #2196F3;
    padding: 10px;
    width: 700px;
    height: 700px;
    margin: 100px auto;
    grid-template-columns: auto auto auto;
}

.grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px;
        font-size: 30px;
}
.grid-container .red-box{
    background-color: var(--red-box);

}

.grid-container .orange-box{
    background-color: var(--orange-box);
}

.grid-container .green-box{
    background-color: var(--green-box);
}

.grid-container .blue-box1, .blue-box2{
    background-color: var(--blue-box);

}