/* Variables */
:root {
    /* Colors */
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%) ;
    --grayish-blue: hsl(246, 25%, 77%);

    /* Fonts */
    /* font-size */
    --font-size: 16px;
    /* Font Family */
    --font-family: 'Poppins', sans-serif;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--red) url('./images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .content {
    width: 500px;
}

.container .content h1{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 25px;
}

.container .form-wrapper {
    width: 500px;
    margin-left: 50px;
}

.container .form-wrapper .offer{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    background-color: var(--blue);
    color: var(--grayish-blue);
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 14px;
box-shadow: 0px 5px 3px rgb(0 0 0 / 30%);}

.container .form-wrapper .offer span {
    color: #fff;
    font-weight: 600;
}

.container .form-wrapper form{
    width: 100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
box-shadow: 0px 5px 3px rgb(0 0 0 / 30%);}

.container .form-wrapper form input{
    width: 100%;
    padding: 1rem 1.8rem;
    margin-bottom: .9rem;
    border-radius: 5px;
    border: 1px solid rgb(224, 220, 220);
    font-weight: bold;
    outline: none;
}

.container .form-wrapper form input:focus{
    color: var(--dark-blue);
    border:  1px solid var(--dark-blue);
}

.container .form-wrapper form button {
    width: 100%;
    background-color: var(--green);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
}
.container .form-wrapper form button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.container .form-wrapper form .confirmation {
    text-align: center;
    color: var(--grayish-blue);
    font-weight: 600;
    font-size: 10px;
}

.container .form-wrapper form .confirmation a {
    color: var(--red);
    text-decoration: none;
}

.form-control {
    position: relative;
    margin-bottom: 7px;
    text-align: right;
}

.form-control.error {
    margin-bottom: 18px;
}

.form-control img {
	visibility: hidden;
	position: absolute;
	top: 13px;
	right: 25px;
}

.form-control.error img {
	visibility: visible;
}

.form-control small {
    display: block;
    font-style: italic;
    color: var(--red);
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
    margin-top: -10px;
}

/* Responsiveness (Mobile View) */
@media (max-width: 575px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .container .content {
        width: 320px;
        text-align: center;
        margin: 70px 0;
    }
    
    .container .content h1{
        font-size: 1.5rem;
    }
    
    .container .form-wrapper {
        width: 300px;
        margin-left: 0;
        margin-bottom: 70px;
    }
    
    .container .form-wrapper form{
        padding: 1.5rem;
    }
    
    .container .form-wrapper form input{
        padding: 1rem 1.1rem;
        margin-bottom: .7rem;
    }
    
    .container .form-wrapper form button {
        padding: 1rem 1.1rem;
    }
}